* { box-sizing: border-box; }

body, html {
  height: 100%;
  margin: 0;
  cursor: pointer;
  caret-color: transparent;
}

body {
  font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
}

footer {
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  background: #212121;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

@media screen and (max-width: 438px) {
  footer {
    font-size: 11px;
  }
}

header {
  background-color: lightgrey;
  color: black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

 .logo img {
  max-height: 50px;
}

nav ul li a[href="#contact"] {
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

nav ul li a[href="#contact"]:hover {
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: orange;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: 200px;
}

nav li {
  margin-right: 40px;
  font-size: 20px;
  position: relative;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
  color: white;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  position: relative;
  color: black;
}

nav a:hover {

}

nav a::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  color: black;
  background-color: black;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

nav a:hover::before {
  width: 100%;
}

.mobile-menu-container {
  display: none;
}



/* NAV MENU MOBILE */


/* MAX WIDTH 300px */

@media screen and (max-width: 300px ) {
  .logo img {
    width: 150px;
  }
}


/* MAX WIDTH 793px */

@media screen and (max-width: 793px) {
  .desktop-menu {
    display: none; 
  }

  .mobile-menu-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    text-decoration: none;
    z-index: 999;
  }
  
  .mobile-menu-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
  }

  .mobile-menu {
    display: block; 
    line-height: 100px;
    text-align: center;
    text-decoration: none;
    color: #212121;
    font-weight: bold;
    font-size: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .mobile-menu li {
    margin-bottom: 15px;
    color: #212121;
    text-decoration: none;
  }

  .mobile-menu-btn {
    display: block;
    cursor: pointer;
  }

  .mobile-menu a {
    color: #212121;
    text-decoration: none;
  }

  .mobile-menu a:hover {
    text-decoration: none;
  }

  @keyframes slideIn {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }
}

/* MAX WIDTH NAV MENU 890px */

@media screen and (max-width: 890px) {
  .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
  }

  nav ul {
    display: none;
  }
  
  nav ul li a[href="#contact"] {
    border: none;
  }

  nav ul li a[href="#contact"]:hover {
    border: none;
    background-color: none;
  }
}


/* CONTENT SECTION */

#typing-text {
  font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
  white-space: pre-line;
}

.typewriter-text {
  width: 80%; 
}

.content {
  border: 1px solid black;
  text-align: center;
  position: relative;
  font-size: 30px;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 1px;
  height: 80vh; 
  display: flex;
  overflow: hidden;
}

.content-left {
  width: 50%; 
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content-right {
  width: 50%; 
  float: left;
  text-align: center;
}


.content-left::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 2px solid black;
}

.split-container {
  width: 100%; 
}

.slideshow img {
  display: inline-block; 
  margin: 0 auto; 

}

.image-slideshow {
  background-color: lightblue;
}

.image-slideshow .slideshow img {
  display: none;
  margin-top: 40px;
  border: 0.5px solid black;
  background-color: lightblue !important;
}

.image-slideshow .slideshow img:first-child {
  display: block;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: lightgray; 
  z-index: -1;
}

.text {
  color: #212121;
  border-right: 2px solid #fff;
  animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

/* MEDIA QUERY CONTENT SECTION */

@media screen and (max-width:270px) {

  .image-slideshow {
    margin-bottom: -70px;
    top: 10%;
    height: 150vh;
  }

  #typing-text {
    text-align: center;
      display: block;
      position: relative;
      top: 10%;
      left: 40%;
      transform: translate(-50%, -50%);
      font-size: 20px; 
      margin: 20px; 
    }
}

@media screen and (max-width: 768px) {
  .split-container {
    flex-direction: column;
  }

  .content-left,
  .content-right {
    width: 100%;
  }

  .content-left::after {
    content: none; 
  }

  .content {
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
  }

  .image-slideshow {
    height: 50vh;
    background-color: lightgray;
  }
   
  .image-slideshow .slideshow img {
    max-width: 100%; 
    height: auto; 
    overflow: hidden;
  }

  .new-slideshow {
    margin-top: 20px; 
  }

  #typing-container {
    text-align: center;
  }

  #typing-text {
    text-align: center;
      display: block;
      position: relative;
      top: 10%;
      left: 40%;
      transform: translate(-50%, -50%);
      font-size: 20px; 
      margin: 0; 
    }
  

  .content-left::after {
    content: none; 
  }
}

/* ABOUT ME SECTION */


.about-me-container {
  text-align: center;
  padding: 50px 300px;
  background-color: lightgray;  
  border-bottom: 1px solid black;
}

.split-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image-container {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.image-container.animated {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}  

.text-container {
  margin-left: 100px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.text-container.animated {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Adjust the transition duration */
}
 
.image-container img {
  max-width: 100%; 
  border-radius: 5%;
}

.text-container {
  margin-right: 200px;
}

.text-container h3 {
  font-size: 40px;
  margin-bottom: 10px;
}

.text-container p {
  font-size: 20px;
}

.mark-pic {
  width: 200px;
  height: auto;
  border: 2px solid black;
  background-color: lightgreen;
  z-index: 1;
}

.code-logo{
  width: 50px;
}

.liquid-logo {
  width: 20px;
}

/* ABOUT ME SECTION MEDIA QUERIES */

@media screen and (max-width: 1700px) {
  .about-me-container {
    padding: 50px 150px;
  }

  .text-container {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 992px) {
  .about-me-container {
    padding: 50px 100px;
  }

  .text-container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .about-me-container {
    padding: 50px 20px;
  }

  .split-container {
    flex-direction: column;
  }

  .text-container {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 576px) {
  .mark-pic {
    width: 150px;
  }

  .text-container h3 {
    font-size: 30px;
  }

  .text-container p {
    font-size: 16px;
  }
}


/* Announcement Bar */

.announcement {
  border-bottom: 1px solid black;
  overflow: hidden;
}

.announcement-bar {
  width: 100vw;
  white-space: nowrap;
  font-size: 15px;
  color: black;
  position: relative;
  overflow: visible;
  animation: slideAnnouncement 60s linear infinite;
}

.announcement-bar:hover {
  animation-play-state: paused;
  color: black;
  font-weight: bolder;
}

@keyframes slideAnnouncement {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


@media screen and (max-width: 768px) {
  .announcement-bar {
    padding: 5px; 
    white-space: nowrap;
    animation: slideAnnouncement 60s linear infinite;
  }
}


@media screen and (max-width: 480px) {
  .announcement-bar {
    padding: 5px; 
    white-space: nowrap;
    animation: slideAnnouncement 10s linear infinite;
  }
}

@keyframes moveAnnouncement {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Contact Form */

.contact-form {
  border-top: 1px solid black;
  text-align: center;
  padding: 50px 20px;
  background-color: lightseagreen;  
}

.contact-box.animated {
  opacity: 1;
  transform: translateY(0);
}

.contact-box {
  background-color: #212121;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: white;
  max-width: 1000px;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.contact-box h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-box p {
  font-size: 16px;
  margin-bottom: 20px;
}

form {
  display: grid;
  gap: 15px;
  margin: 0 auto;
}

label {
  display: block;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: lightgray;
}

button {
  background-color: orange;
  font-size: 15px;
  color: #212121;
  padding: 20px 40px;
  max-width: 500px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  display: block; 
  margin: 0 auto; 
}

button:hover {
  opacity: 1;
  transform: scale(1.1);
}

/* My Work */

.slider {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}


.slider.animated {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.CSSgal {
  position: relative;
  overflow: hidden;
  height: 70vh; /* Or set a fixed height */
  background-color: lightsalmon;
}

/* SLIDER */

.CSSgal .slider {
  margin-top: 100px;
  margin-left: 20px;
  width: 600px; /* Set your desired width */
  height: 400px; /* Set your desired height */
  white-space: nowrap;
  font-size: 0;
  transition: 0.8s;
}

/* SLIDES */

.CSSgal .slider > * {
  font-size: 1rem;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  height: 100%;
  width: 100%;
  background: none 50% no-repeat;
  background-size: cover;
  border: 1px solid black;
  margin-right: 10px;
  border-radius: 10px;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 100%;
  height: 0;
}

.CSSgal .prevNext > div+div {
  visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
  background: #fff;
  position: absolute;
  width:       60px;
  height:      60px;
  line-height: 60px; /* If you want to place numbers */
  text-align: center;
  opacity: 0.7;
  -webkit-transition: 0.3s;
          transition: 0.3s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}
.CSSgal .prevNext a:hover {
  opacity: 1;
}
.CSSgal .prevNext a+a {
  left: auto;
  right: 0;
}

/* NAVIGATION */

.CSSgal .bullets {
  position: absolute;
  z-index: 2;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}
.CSSgal .bullets > a {
  display: inline-block;
  width:       30px;
  height:      30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  background: rgba(255, 255, 255, 1);
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.CSSgal .bullets > a+a {
  background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.CSSgal .bullets > a:hover {
  background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
/* More slides? Add here more rules */


/* YOU'RE THE DESIGNER! 
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */

.CSSgal{
  color: #fff;  
  text-align: center;
}
.CSSgal .slider h2 {
  margin-top: 40vh;
  font-weight: 200;
  letter-spacing: -0.06em;
  word-spacing: 0.2em;
  font-size: 3em;
}
.CSSgal a {
  border-radius: 50%;
  margin: 0 3px;
  color: rgba(0,0,0,0.8);
  text-decoration: none;
}

.CSSgal .slider div[style*="assets/alche.jpg.png"] {
  background-position: center left 30% !important; 
}

/* Target the second slide based on its background URL */
.CSSgal .slider div[style*="assets/beardedman.desktop.png"] {

}

.CSSgal .slider div[style*="assets/Curology.desktop,png.png"] {
  background-position: center 20% !important; 
}

/* CSSGAL MEDIA QUERIES */

@media screen and (max-width: 1200px) {
  .CSSgal {
   height: 50vh;
  }

  .CSSgal .slider {
    width: 500px;
    height: 300px;
  }

  .CSSgal .slider h2 {
    font-size: 2.5em;
    margin-top: 30vh;
  }
}

@media screen and (max-width: 992px) {
  .CSSgal .slider {
    width: 400px;
    height: 250px;
  }

  .CSSgal .slider h2 {
    font-size: 2em;
    margin-top: 20vh;
  }
}

@media screen and (max-width: 768px) {
  .CSSgal .slider {
    width: 300px;
    height: 200px;
  }

  .CSSgal .slider h2 {
    font-size: 1.5em;
    margin-top: 10vh;
  }
}

